.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__hero-bg {
  position: absolute;
  top: 0;
  z-index: -1;
}

.main__hero {
  max-width: 608px;
}

.main__title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 64px;
  font-size: 60px;
  margin: 80px auto 32px auto;
  color: white;

}

.main__subtitle {
  margin: 0 0 88px 0;
  color: white;
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.main__content {
  width: 100%;
  min-height: 282px;
  padding-left: 104px;
  box-sizing: border-box;
}

.main__content-title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 160px auto 64px 0;
}