.main {
  width: 100%;
  min-height: 576px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main__hero-bg {
  position: absolute;
  top: 0;
  z-index: -1;
}

.main__hero {
  max-width: 608px;
  min-height: 493px;
}

.main__title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 64px;
  font-size: 60px;
  margin: 80px auto 32px auto;
  color: white;

}

.main__subtitle {
  margin: 0 0 88px 0;
  color: white;
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.main__content {
  width: 100%;
  min-height: 282px;
  padding: 0 104px;
  box-sizing: border-box;
  background-color: #F5F6F7;
}

.main__content-title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 80px auto 64px 0;
}

.main__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main__show-more {
  display: block;
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  width:288px;
  height: 64px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 80px;
  margin: 64px auto 80px auto;
  padding: 0;
  cursor: pointer;
}

.main__show-more:hover {
  background-color: #E8E8E8;
}

.main__not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 374px;
}

.main__not-found {
  width: 82px;
  height: 82px;
  color: red;
}

.main__not-found-title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  color: #1A1B22;
  line-height: 30px;
  font-weight: 400;
  font-size: 26px;
  margin: 31.5px 0 16px 0;
}

.main__not-found-subtitle {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  color: #6C707A;
  line-height: 24px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 0;
}