.main__hero {
  text-align: center;
  color: white;
}

.main__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 64px;
  font-size: 60px;
  margin: 80px auto 32px auto;
  letter-spacing: 0;
  color: white;

}

.main__subtitle {
  margin: 0;
  color: white;
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 88px;
}

.main__author {
  width: 100%;
  display: flex;
  margin-top: 160px;
  gap: 56px;
  padding: 0 104px 80px 104px;
  box-sizing: border-box;
}

.main__author-info {
  margin-top: 51px;
}

.main__author-avatar {
  max-width: 464px;
  max-height: 464px;
}

.main__author-title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 46px;
  font-size: 40px;
  letter-spacing: 0;
  margin: 0 0 24px 0;
}

.main__author-desc {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
  margin-top: 0;
}