.main {
  width: 100%;
  min-height: 576px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.main__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
  url('../../assets/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 80px 0 80px 0;
  box-sizing: border-box;
}

.main__title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 64px;
  font-size: 60px;
  margin: 80px 0 32px 0;
  color: white;
  max-width: 608px;
}

.main__subtitle {
  margin: 0 0 88px 0;
  color: white;
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 608px;
}

.main__content {
  width: 100%;
  min-height: 282px;
  padding: 0 104px;
  box-sizing: border-box;
  background-color: #F5F6F7;
}

.main__content-title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 80px auto 64px 0;
}

.main__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main__show-more {
  display: block;
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  width:288px;
  height: 64px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 80px;
  margin: 64px auto 80px auto;
  padding: 0;
  cursor: pointer;
}

.main__show-more:hover {
  background-color: #E8E8E8;
}

.main__not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 374px;
}

.main__not-found {
  width: 82px;
  height: 82px;
}

.main__not-found-title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  color: #1A1B22;
  line-height: 30px;
  font-weight: 400;
  font-size: 26px;
  margin: 31.5px 0 16px 0;
}

.main__not-found-subtitle {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  color: #6C707A;
  line-height: 24px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.main__error {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  color: red;
  line-height: 24px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin: 10px;
}

@media screen and (min-width: 466px) and (max-width: 768px) {

  .main__content {
    padding: 0 40px;
  }

  .main__content-title {
    font-size: 30px;
    line-height: 34px;
    margin: 40px auto 32px 0;
  }

  .main__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    margin: 38px 0 16px 0;
  }

  .main__hero {
    padding: 66px 0 48px 0;
    max-height: 320px;
  }

  .main__subtitle {
    max-width: 452px;
    margin-bottom: 48px;
  }

  .main__card-list {
    gap: 8px;
  }

  .main__show-more {
    margin: 32px auto 40px auto;
  }
}

@media screen and (max-width: 465px) {
  .main__card-list {
    justify-content: center;
  }

  .main__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 452px;
    margin: 0 16px 16px 19px;
  }

  .main__subtitle {
    max-width: 452px;
    margin: 0 16px 122px;
  }

  .main__content {
    padding: 0 16px;
  }

  .main__content-title {
    margin: 32px 0 58px 0;
  }

  .main__show-more {
    margin: 16px auto 24px auto;
  }

  .main__hero {
    padding: 86px 16px 32px 16px;
    background-size: cover;
    background-position: bottom center;
  }
}
