.saved-news__container {
  padding: 40px 104px 30px 104px ;
}

.saved-news__articles {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0 0 28px 0;
  color: rgba(26, 27, 34, 0.5);
}

.saved-news__title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0;


  margin: 0 0 30px 0;
}

.saved-news__subtitle {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 52px 0;
}

.saved-news__subtitle_type_bold {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
}

.saved-news__cardlist {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.saved-news__trash {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 10px;
  cursor: pointer;
  background-image: url("../../assets/trash.png");
  background-repeat: no-repeat;
  background-position: center;
}

.saved-news__btnIcon {

}

.saved-news__tag {
  position: absolute;
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  top: 24px;
  left: 24px;
  background-color: #FFFFFF;
  padding: 8px 22px;
  margin: 0;
  border-radius: 10px;
}