.about {
  width: 100%;
}

.author {
  width: 100%;
  display: flex;
  margin-top: 80px;
  gap: 56px;
  padding: 0 104px 80px 104px;
  box-sizing: border-box;
  min-width: 0;
  flex-shrink: 1;
}

.author__info {
  margin-top: 51px;
}

.author__avatar {
  /*width: auto;*/
  /*height: auto;*/
  max-width: 100%;
  height: auto;
  /*flex-shrink: 1;*/
  min-width: 0;
  align-self: center;
}

.author__title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 46px;
  font-size: 40px;
  margin: 0 0 24px 0;
}

.author__desc {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 0;
  max-width: 424px;
}

@media (max-width: 768px) {
  .author__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .author__avatar {
    max-width: 100%;
    height: 232px;
    align-self: center;
  }

  .author {
    margin-top: 40px;
    padding: 0 40px 61px 40px;
  }

  .author__info {
    margin-top: 0;
  }

  .author__desc {
    font-family: 'roboto', Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 0;
  }
}

@media (max-width: 320px) {
  .author {
    padding: 0 24px 128px 24px;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
  }

  .author__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .author__desc {
    font-size: 18px;
    line-height: 24px;
  }

  .author__avatar {
    max-width: 100%;
    height: auto;
  }
}