.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav__title {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  text-decoration: none;
  padding-bottom: 26px;
  border-bottom: 2px solid transparent;
  margin: 30px 76px 0 0;
}

.nav__title:hover {
  color: white;
  border-bottom: 2px solid #ffffff;
}

.nav__title_theme_dark {
  color: #1A1B22;
}

.nav__title_theme_dark:hover {
  color: #1A1B22;
  border-bottom: 2px solid #1A1B22;
}

.nav__title_position_right {
  margin-right: 24px;
}

.nav__btn {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 24px;
  width: 176px;
  height: 48px;
  background: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  margin: 19px 104px 13px 40px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*Todo review this selector to see if is allowed */
.nav__btn a {
  text-decoration: none;
  color: white;
}

.nav__btn_theme_dark {
  border: 1px solid #1A1B22;
  color: #1A1B22;
}

@media screen and (max-width: 768px) {
  .nav__btn {
    margin: 14px 30px 13px 30px;
  }
}

