.nav {
  margin-left: auto;
}

.nav__title {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #B6BCBF;
  text-decoration: none;
  padding-bottom: 26px;
  border-bottom: 2px solid transparent;
  margin-right: 76px;
}

.nav__title:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}

.nav__title_position_right {
  margin-right: 24px;
}

.nav__btn {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  width: 176px;
  height: 48px;
  background: transparent;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  margin: 19px 104px 13px 40px;
  cursor: pointer;
}

/*Todo review this selector to see if is allowed */
.nav__btn a {
  text-decoration: none;
  color: white;
}

.nav__signout-btn {
  padding: 0 15px 0 19px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2px;
}