.modal {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  transition:
          visibility 0s linear 200ms,
          opacity 200ms ease-in-out;
  display: none;
}

.modal_is-open {
  display: flex;
  opacity: 1;
  transition:
          visibility 0s linear 0s,
          opacity 200ms ease-in-out;
}

.modal__container {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 0 36px;
  width: 100%;
  max-width: 430px;
  position: relative;
}

.modal__close-btn {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: -46px;
  right: -46px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 350ms ease-in-out;
}


.modal__close-btn:hover {
  opacity: 0.5;
}

.modal__title {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #1A1B22;
  margin: 34px 0 22px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}


.modal__fieldset {
  border: none;
  padding: 0;
  margin: 0 0 31px;

}

.modal__fieldset:nth-of-type(3) {
  margin-bottom: 39px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-family: 'inter', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #2F71E5;
}

.modal__input {
  font-family: 'inter', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-bottom: 10px;
  box-sizing: border-box;
}

.modal__input:focus {
  outline: none;
  border-bottom: 1px solid #000000;
}

.modal__submit-btn {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  max-width: 630px;
  background-color: #2F71E5;
  border: none;
  border-radius: 100px;
  padding: 20px 115px;
  color: #FFFFFF;
  box-shadow: 0 5px 15px 0 #0E1A3933;
  cursor: pointer;
}

.modal__submit-btn:hover {
  background-color: #2660C2;
}

.modal__submit-btn_disabled {
  background-color: #E6E8EB;
  cursor: not-allowed;
  color: #B6BCBF;
}

.modal__submit-btn_disabled:hover {
  background-color: #E6E8EB;
  cursor: not-allowed;
  color: #B6BCBF;
}

.modal__switch {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  border: none;
  background: transparent;
  margin: 16px auto 28px;
  color: #000000;
  cursor: pointer;
}

.modal__switch_color-blue {
  color: #2F71E5;
}

@media screen and (max-width: 465px) {
  .modal {
    padding: 0;
  }

  .modal__container {
    padding: 0 17px 0;
    height: 95vh;
    position: absolute;
    top: 56px;
  }

  .modal__close-btn {
    width: 24px;
    height: 24px;
    top: -40px;
    right: 16px;
    z-index: 100;
  }

  .modal__title {
    margin: 16px 0 18px;


  }

  .modal__label {
    gap: 8px;
  }

  .modal__fieldset {
    margin: 0 0 30px;
  }

  .modal__fieldset:nth-of-type(2) {
    margin-bottom: 23px;
  }

  .modal__submit-btn {
    max-height: 64px;
    max-width: 288px;
    padding: 20px 79px;
    align-self: center;
  }

}


