.search-form {
  position: relative;
  width: 100%;
  max-width: 608px;
  display: flex;
}

.search-form input {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  width: 100%;
  height: 64px;
  border: 1px solid rgba(209, 210, 214, 1);
  border-radius: 100px;
  backdrop-filter: blur(8px);
  padding-left: 24px;
}

.search-form button {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  width: 168px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  background: rgba(47, 113, 229, 1);
  box-shadow: 0 5px 15px 0 rgba(14, 26, 57, 0.2);
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.search-form__input::placeholder {
  color: #B6BCBF;
}