.preloader {
  position: relative;
}

.preloader__text {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 18px;
  padding-top: 100px;
  box-sizing: border-box;
  color: grey;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.preloader__circle {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spin .75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}