.preloader {
  position: relative;
  height: 100%;
  width: 100%;
}

.preloader__text {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  color: grey;
  margin: 0;
  position: absolute;
  top: 178px;
  width: 280px;
  left: 50%;
  transform: translateX(-30%);
}

.preloader__circle {
  display: block;
  width: 74px;
  height: 74px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spin .75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}