.header {
  display: flex;
  width: 100%;
  border-bottom: rgba(255, 255, 255, .1) .5px solid;
}

.header_theme_dark {
  border-bottom: #1A1B22 .5px solid;
}

.header__content {
  margin-left: auto;
}

.header__logo {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-size: 20px;
  line-height: 24px;
  align-self: center;
  margin: 30px 0 26px 104px;
  color: #ffffff;
}

.header_theme_dark .header__logo {
  color: #1A1B22;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-left: 30px;
  }
}