.card {
  width: 100%;
  max-width: 400px;
  max-height: 576px;
  text-decoration: none;
  list-style: none;
  border-radius: 16px;
  overflow: hidden;
  background: white;
  position: relative;
}

.card__image {
  max-width: 100%;
  height: 272px;
  object-fit: cover;
  padding: 0;
}

.card__date {
  /*TODO change font to Sans Pro like design */
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 0 auto 12px auto;
}

.card__contents {
  padding: 20px 24px 18px;
}

.card__title {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin: 0 auto 16px auto;
  max-height: 60px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
/*TODO review -webkit below*/
.card__description {
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto 18px auto;
  max-height: 110px;
  overflow: hidden;

  min-height: 88px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card__subtitle {
  font-family: 'roboto-slab', Georgia, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin: 0 auto 0 auto;
  color: #B6BCBF;
}

/*TODO review if bookmark css should stay here*/
.card__bookmark {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 8px;
  cursor: pointer;
  background-image: url("../../assets/bookmark.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.card__bookmark:hover {
  background-image: url("../../assets/bookmark-hover.png");
}

.card__bookmark:active {
  transform: scale(0.9);
}

.card__bookmark_type_active {
  background-image: url("../../assets/bookmark-active.png");
}

.card__alert {
  display: flex;
  align-items: center;
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;

  position: absolute;
  top: 24px;
  right: 69px;
  z-index: 1;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 11px 20px;
  box-sizing: border-box;
  margin: 0;
  height: 40px;
  visibility: hidden;
}

.card__actions:hover .card__alert_type_active {
  visibility: visible;
}

.card__link {
  text-decoration: none;
  color: #1A1B22;
  cursor: pointer;
}

.card__trash {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 10px;
  cursor: pointer;
  background-image: url("../../assets/trash.png");
  background-repeat: no-repeat;
  background-position: center;
}

.card__tag {
  position: absolute;
  font-family: 'roboto', Georgia, 'Times New Roman', serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;

  top: 24px;
  left: 24px;
  background-color: #FFFFFF;
  padding: 8px 22px;
  margin: 0;
  border-radius: 10px;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .card {
    max-width: 224px;
    max-height: 420px;
  }

  .card__contents {
    padding: 16px 16px;
  }

  .card__image {
    height: 150px;
    object-fit: cover;
    padding: 0;
  }

  .card__description {
    margin: 0 auto 18px auto;
  }

  .card__bookmark {
    top: 8px;
    right: 8px;
  }

  .card__trash {
    top: 8px;
    right: 8px;
  }

  .card__tag {
    top: 8px;
    left: 8px;

  }
}

@media screen and (max-width: 320px) {
  .card {
    max-width: 288px;
    height: 440px;
  }

  .card__contents {
    padding: 16px;
  }

  .card__date {
    margin-bottom: 10px;
  }

  .card__bookmark {
    top: 16px;
    right: 16px;
  }

  .card__image {
    /*width: 100%;*/
    height: 100%;
    max-width: 288px;
    max-height: 196px;

  }

  .card__title {
    font-size: 22px;
    line-height: 24px;

  }

  .card__description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
  }

  .card__tag {
    top: 16px;
    left: 16px;
  }

  .card__trash {
    top: 16px;
    right: 16px;
  }
}

